<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head th:include="navigation-bar :: head">
<body>
<div th:include="navigation-bar :: menu"></div>
<section>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>A list of all DOIs</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="dois: ${data}">
            <td th:text="${dois.attributes.doi}"></td>
        </tr>
        </tbody>
    </table>
</section>
</body>
</html>